.chat-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.chat-container h1{
    font-size: 18px;
    margin-right: auto;
}

.chat-container .btn{
margin-left: 10px;
}
.chat-list{
    border-right:1px solid #ccc;
    padding: 10px;
    width:100%;
}
.chat-user{
    padding:10px;
    cursor: pointer;
    border-bottom:1px solid #eee
}
.chat-window{
    flex:1;
    padding: 10px;
}
.message-field{
    width: 100%;
}
 
.btn-primary{
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    border: none;
}

 @media (max-width:768px){
    .chat-container{
        flex-direction: column;
    }
    .chat-list{
        width: 100%;
        height: 30%;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
    .chat-window{
        width: 100%;
        height: 70%;
    }
 }

 
  