*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   background-color: #f4f6fb;
}
.chat-container{
    width: 100%;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    border-radius: 8px 8px 0 0;
}
.chat-container h1{
    font-size: 20px;
    font-weight: 500;
}
.btn-primary{
    background-color: white;
    color: #667eea;
    border: none;
    padding: 8px 14px;
border-radius: 20px;
cursor: pointer;
font-size: 14px;
transition: 0.5s;
}
.btn-primary:hover{
    background-color: #f0f0ff;
}
.chat-body{
    display: flex;
    height: calc(100vh - 100px);
}
.chat-sidebar{
    width: 30%;
    background-color: #f3f4ff;
    border-right: 1px solid #dcdfff;
    padding: 12px;
    /* overflow-y: auto; */
}
.chat-sidebar{
    margin-bottom: 10px;
    color: #667eea;
}
.chat-user{
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    color: #333;
}
.chat-user:hover{
    background-color: #667eea;
}
.chat-user.active {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
}
.chat-main{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100%;
    position: relative;
}
.messages-area{
    flex:1;
    padding: 15px;
    overflow-y: auto;
    background-color: #f9f9ff;
}
.message-field{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border-top: 1px solid #667eea;
    background-color: #ffffff;
    position: relative;
}
.message-field input{
    flex: 1;
    padding: 10px 14px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}
.btn-emoji{
     border-radius: 50%;
  padding: 8px 10px;
  font-size: 16px;
  min-width: 40px;
}
.message-field .btn-primary {
  padding: 8px 14px;
  white-space: nowrap;
}
.emoji-box{
    position: absolute;
    bottom: 60px;
    right: 20px;
    z-index: 1000;
}
.typing-indicator {
  position: sticky;
  bottom: 5px;
  background: white;
  padding: 4px 10px;
  font-size: 13px;
  color: darkgreen;
  margin-left: 10px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .message-field {
    flex-wrap: wrap;
  }

  .message-field input {
    width: 100%;
  }

  .btn-emoji,
  .message-field .btn-primary {
    width: auto;
  }
}
