
.message-list {
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
}

.message {
    max-width: 65%;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
    margin-bottom: 10px;
}
.message.sent {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    margin-left: auto;
    border-bottom-right-radius: 4px;
}

.message.received {
    background:linear-gradient(134deg, #667eea, #764ba2);
    color: white;
    margin-right: auto;
    border-bottom-left-radius: 4px;
}

.message-input {
    display: flex;
    justify-content: space-between;
}
.back-btn {
  cursor: pointer;
  color: #667eea;
  background:none;
  border: none;
  display: flex;
  justify-content: start;
  
}

.auth-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}
.auth-card{
    width: 100%;
    max-width: 420px;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    background: #fff;
}
.auth-card h4{
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
.auth-card p{
    color: #666;
    font-size: 14px;
}
.auth-card button{
    width: 100%;
    height: 45px;
    border-radius: 1px;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #667eea, #764ba2);
    border: none;
}
.auth-card button:hover {
    opacity: 0.6;
}
.auth-card input{
    height: 45px;
 border-radius: 10px;   
 border: 1px solid #ddd; 
  padding-left: 12px;
}