
.message-list {
    height: 100%;
    overflow-x: auto;
    padding: 10px;
    background-color: #f9f9f9;
}

.message {
    max-width: 65%;
    padding: 10px 40px 18px 14px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}

.message-input {
    display: flex;
    justify-content: space-between;
}
.time{
    position: absolute;
    bottom: 4px;
    right: 10px;
    font-size: 11px;
    opacity: 0.8;
    color: #f1f1f1;
}
.date-separate{
    width: 100%;
    text-align: center;
    margin: 12px 0;
    font-size: 13px;
    color: #555;
    font-weight: 500;
    display: block;
}
.back-btn {
  cursor: pointer;
  color: #667eea;
  background:none;
  border: none;
  display: flex;
  justify-content: start;
}
.message-row{
    width: 100%;
    display: flex;
}
.message-row .sent{
    background:linear-gradient(134deg, #667eea, #764ba2);
    color: white;
    margin-left: auto;
}
.message-row .received{
margin-right: auto;
 background:linear-gradient(134deg, #667eea, #764ba2);
    color: white;
}
.auth-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}
.auth-card{
    width: 100%;
    max-width: 420px;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    background: #fff;
}
.auth-card h4{
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
.auth-card p{
    color: #666;
    font-size: 14px;
}
.auth-card button{
    width: 100%;
    height: 45px;
    border-radius: 1px;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #667eea, #764ba2);
    border: none;
}
.auth-card button:hover {
    opacity: 0.6;
}
.auth-card input{
    height: 45px;
 border-radius: 10px;   
 border: 1px solid #ddd; 
  padding-left: 12px;
}