
.message-list {
    height: 300px;
    margin-bottom: 20px;
     overflow-y: auto;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    
}

.message.sent {
    background-color: #daf8cb;
    text-align: right;
}

.message.received {
    background-color: #f1f0f0;
    text-align: left;
}

.message-input {
    display: flex;
    justify-content: space-between;
}
.auth-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}
.auth-card{
    width: 100%;
    max-width: 420px;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    background: #fff;
}
.auth-card h4{
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
.auth-card p{
    color: #666;
    font-size: 14px;
}
.auth-card button{
    width: 100%;
    height: 45px;
    border-radius: 1px;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #667eea, #764ba2);
    border: none;
}
.auth-card button:hover {
    opacity: 0.6;
}
.auth-card input{
    height: 45px;
 border-radius: 10px;   
 border: 1px solid #ddd;
 padding-left: 12px;
}